<div class="grid__item one-whole lap--one-whole palm--one-whole">
  <div class="detailedhack" id="{{name}}">

  {{#with repository}}
    <h2>{{#if name}}{{unSlugify name}}{{else}}No name{{/if}}</h2>

    <p class="desc">
    {{~#if description ~}}
      {{description}}
    {{~else~}}
      <span class="no-content">No description yet</span>
    {{~/if~}}
    </p>
  {{/with}}

  <ul class="members-list">
  {{#each members ~}}
    <li>
      <a href="{{html_url}}" class="block-link">
        <img class="avatar" src="{{avatar_url}}" alt="@{{login}}" />
        <span class="username">@{{login}}</span>
      </a>
    </li>
  {{~/each}}

  </div>
</div>
