<div class="grid__item one-third lap--one-half palm--one-whole">
  <article class="hack">
    {{#with repository}}
    <img src="{{ thumbnailOrDefault ../thumbnail }}" alt="{{name}}" />
    <h2>{{#if name}}{{unSlugify name}}{{else}}No name{{/if}}</h2>
    <p class="desc">
    {{~#if description ~}}
      {{description}}
    {{~else~}}
      <span class="no-content">No description yet</span>
    {{~/if~}}
    </p>
    {{/with}}
  </article>
</div>
